# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# YOLO Model Weights
*.pt
*.onnx

# Dynamic outputs
alerts_log.json
snapshots/

# IDE files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
.antigravitycli/